<!-- end contact section -->
  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              FOR US
            </h6>
            <p>
                We value our customers, and we want to ensure you're always in the know. By subscribing to our
                exclusive updates, you'll gain access to the latest happenings at D&M HandMade Gifts.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form ">
              <h6>
                SECURE SHOPPING
              </h6>
              <p>
                  We employ advanced security measures to safeguard your personal information and payment details,
                  ensuring a secure shopping experience every time you browse and buy from us.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
                Do you need help?
            </h6>
            <p>
               Don't hesitate to ask! Whether it's a question, a problem, or just some guidance,
                We're here to assist you. Your satisfaction is our priority, so feel free to reach out anytime.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              Contact us
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>  Stara Zagora, Bulgaria</span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+359 88 888 8888</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>dm.handmadegifts@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">D&M HandMade Gifts</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->

