{% extends 'common/base.html' %}
{% block content %}

    <!-- contact section -->
    <section class="contact_section layout_padding">
        <div class="container px-0">
            <div class="heading_container ">
                <h2 class="">
                    Contact Us
                </h2>
            </div>
        </div>
        <div class="container container-bg">
                <div class="col-md-6 col-lg-4 px-0">
                    <form action="{% url 'contact_page' %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->

{% endblock %}