{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <style>
        .order-info {
            font-size: 20px;
        }
    </style>

    <section class="shop_section layout_padding">
        <div class="container">
            {% if object_list %}
            <div class="heading_container heading_center">
                <h2>
                    My Orders
                </h2>
            </div>
            <div class="row">
                {% for order in object_list %}
                    <h6 class="order-info">
                        <div>
                            Names:
                            {{ order.first_name }} {{ order.last_name }} &#11088
                        </div>
                        <div>
                            Delivery:
                            {% if order.delivery_type == 'H' %}
                                Home address delivery -
                                {% if order.delivery_company == 'E' %}
                                    Econt &#128666
                                {% else %}
                                    Speedy &#128666
                                {% endif %}
                            {% elif order.delivery_type == 'O' %}
                                Office delivery -
                                {% if order.delivery_company == 'E' %}
                                    Econt &#128666
                                {% else %}
                                    Speedy &#128666
                                {% endif %}
                            {% endif %}

                        </div>
                        <div>
                            Address:
                            {{ order.address }} &#11093
                        </div>
                        <a href="{% url 'delete-order' pk=order.pk %}" class="btn btn-primary btn-sm">
                            Delete order
                        </a>
                    </h6>
                {% endfor %}
                {% else %}
                <div class="heading_container heading_center">
                    <h1>
                        It appears that you haven't placed any orders yet.
                    </h1>
                </div>
                {% endif %}
                <div class="col-12 text-center mt-4">
                    <div class="btn-box">
                        <a href="{% url 'shop_page' %}" class="btn btn-primary btn-sm">
                            Back to shop
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
